.breadcrumb-container {
    background-color: #183650;
    padding: 10px;
    margin: 10px auto;

  }
  
  .breadcrumb-item {
    color: #fff;
  }
  
  .breadcrumb-separator {
    color: #fff;
    margin: 0 5px;
  }
  